<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      <%= contact["name"] %> | Resume
    </title>
    <style type="text/css" media="all">
      /* reset */
      #resume html, #resume body, #resume div, #resume span, #resume h1, #resume #resume h2, #resume a, #resume ul, #resume li, #resume strong {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
      }
      :focus {
        outline: 0;
      }
      #resume {
        line-height: 1;
        color: black;
        background: white;
     }

     /* styles */
     #resume #contact {
       padding: 10px;
       width: 860px;
       font-family: "Calibri", "Lucida Grande", "Arial", sans-serif;
     }
     #resume h1 {
       font-size: 400%;
     }
     #resume h2 {
       font-weight: bold;
       font-size: 90%;
       margin: 0;
     }
     #resume #name > h2, #resume .ieandjobmine {
       margin-top: 10px;
       font-size: 150%;
     }
     #resume #name {
       float: left;
       padding: 10px;
       text-align: center;
       margin-bottom: 5px;
       font-family: "Candara", "Optima", "Arial", sans-serif;
     }
     #resume #locaddr, #resume #permaddr {
       float: right;
       padding: 10px;
     }
     #resume #other {
       clear: left;
       text-align: center;
       font-family: "Calibri", "Geneva", "Arial", sans-serif;
       font-size: 90%;
       margin-bottom: -10px;
     }
     #resume .main {
       margin: 20px;
       margin-bottom: -15px;
       font-family: "Cambria", "Palatino", "Times New Roman", serif;
     }
     #resume .main h2 {
       float: left;
       clear: left;
       width: 120px;
       font-variant: small-caps;
       font-size: 110%;
     }
     #resume .title {
       font-weight: bold;
     }
     #resume .date {
       font-style: italic;
     }
     #resume .main ul {
       margin-left: 40px;
       line-height: 1.2;
     }
     #resume .main > ul, #resume .main .areforcing {
       float: left;
       width: 740px;
       margin-bottom: 15px;
       margin-left: 0;
       font-size: 90%;
       list-style: none;
     }
     #resume .areforcing {
       margin-bottom: 0;
     }
     #resume .main li > ul, #resume .meto {
       list-style: disc outside none;
       margin-bottom: 15px;
     }
     #resume #computer ul, #resume #transferable ul, #resume #activities ul {
      list-style: disc outside none;
      padding-left: 15px;
      margin-bottom: 25px !important;
      margin-bottom: 20px;
     }
     #resume #activities > ul > li > ul > li, #resume .very {
       margin-bottom: 15px;
     }
     #resume #awards ul ul ul {
       margin-bottom: 0;
     }
     #resume #education > ul > li, #resume .hack {
       margin-bottom: 15px;
     }
     #resume strong {
       font-weight: bold;
     }
     #breaker {
       clear: left;
     }
     @media print {
       /* Print styles */
       #resume #contact {
         width: 100%;
       }
       #resume h1 {
         font-size: 275% !important;
       }
       #resume #name h2 {
         font-size: 110% !important;
       }
       #resume #locaddr, #resume #permaddr {
         font-size: 85%;
       }
       #resume .main {
         font-family: "Georgia", "Times New Roman", serif;
         margin-bottom: 15px;
       }
       #resume .main h2 {
         width: 18%;
       }
       #resume .main > ul, #resume #computer ul.areforcing, #resume #transferable ul.areforcing, #resume #work ul.areforcing, #resume #activities ul.areforcing, #resume #awards ul.areforcing, #resume #education ul.areforcing {
         margin-left: 20%;
         width: 83%;
         float: none;
         margin-left: 19% !important;
         width: 83% !important;
         float: none !important; 
       }
     }
    </style>
  </head>
  <body>
  <div id="resume">
    <div id="contact">
      <div id="name">
        <h1><%= contact["name"] %></h1>
        <h2 class="ieandjobmine"><%= contact["term"] %> <%= contact["program"] %></h2>
        <h2 class="ieandjobmine">
          <% unless contact["id"].nil? %>
            <%= contact["id"] %>
          <% else %>
            <%# Empty <h2> for padding %>
            <!-- Removed from web version of resume -->
          <% end %>
        </h2>
      </div>
      <div id="permaddr">
        <% unless contact["permanent"].nil? %>
          <h2>Permanent Address</h2>
          <% contact["permanent"]["address"].each do |line| %>
            <%= line %>
            <br />
          <% end %>
        <% else %>
          <%# Empty <div> for padding %>
          <!-- Removed from web version of resume -->
        <% end %>
      </div>
      <div id="locaddr">
        <% unless contact["local"].nil? %>
          <h2>Local Address (until <%= contact["local"]["until"] %>)</h2>
          <% contact["local"]["address"].each do |line| %>
            <%= line %>
            <br />
          <% end %>
        <% else %>
          <%# Empty <div> for padding %>
          <!-- Removed from web version of resume -->
        <% end %>
      </div>
      <div id="other">
        <% unless contact["cell"].nil? %>
          <% email = contact["email"] %>
          <% site = contact["site"] %>
          <a href="mailto:<%= email %>"><%= email %></a> | <%= contact["cell"] %> | <a href="http://<%= site %>"><%= site %></a>
        <% else %>
          <%# Empty <div> for padding %>
          <!-- Removed from web version of resume -->
        <% end %>
      </div>
    </div>
    <div id="computer" class="main">
      <h2>Computer Skills</h2>
      <ul class="areforcing">
        <% skills["computer"].each do |skill| %>
          <li><%= skill %></li>
        <% end %>
      </ul>
    </div>
    <div id="transferable" class="main">
      <h2>Skills</h2>
      <ul class="areforcing">
        <% skills["transferable"].each do |skill| %>
          <li><%= skill %></li>
        <% end %>
      </ul>
    </div>
    <div id="work" class="main">
      <h2>Work experience</h2>
      <ul class="areforcing">
        <% work.each do |job| %>
          <li>
            <span class="title"><%= job["title"] %></span>,
            <%= job["employer"] %>,
            <%= job["location"] %>,
            <span class="date"><%= job["start"] %> &#8212; <%= job["end"] %></span>
            <% unless job["description"].empty? %>
              <ul class="meto">
                <% job["description"].each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="activities" class="main">
      <h2>Activities &amp; interests</h2>
      <ul class="areforcing">
        <% activities.each do |activity| %>
          <li>
            <%= activity %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="awards" class="main">
      <h2>Awards</h2>
      <ul class="areforcing">
        <% awards.each do |institution| %>
          <li>
            <span class="title"><%= institution["name"] %></span>,
            <%= institution["location"] %>
            <ul class="meto">
              <% institution["awards"].each do |award| %>
                <li>
                  <%= award["name"] %>, <span class="date"><%= award["date"] %></span>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="education" class="main">
      <h2>Education</h2>
      <ul class="areforcing">
        <% education.each do |institution| %>
          <li class="hack">
            <span class="title"><%= institution["level"] %></span>,
            <%= institution["name"] %>,
            <%= institution["location"] %>,
            <span class="date">
              <% if institution["date"].nil? %>
                <%= institution["start"] %> &#8212; <%= institution["end"] %>
              <% else %>
                <%= institution["date"] %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
    <div id="breaker">
    </div>
  </body>
</html>
