<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= contact["name"] %></title>
    <style media="all">
      /* print styles override */
      @media print {
        .pagebreak {
          page-break-before: always;
        }
        a, a:link, a:visited {
          color: #000 !important;
        }
        #resume {
          font-size: 80% !important;
        }
        #resume #container {
          width: 90% !important;
        }
      }
      /* end print styles override */
      /* dark mode override */
      @media (prefers-color-scheme: dark) {
        #resume {
          color: #fff !important;
          background: #000 !important;
        }
        #resume a {
          color: rgb(86,119,206) !important;
        }
        #resume a:hover {
          color: rgb(46,79,166) !important;
        }
      }
      /* end dark mode override */
      :focus {
        outline: 0;
      }
      #resume {
        font-family: "Linux Libertine", "Times New Roman", serif;
        color: #000;
        background: #fff;
        line-height: 1;
        margin: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      #resume a {
        color: rgb(46,79,166);
        text-decoration: underline;
      }
      #resume a:hover {
        color: rgb(86,119,206);
        text-decoration: underline;
      }
      #resume #container {
        margin-left: auto;
        margin-right: auto;
        width: 820px;
      }
      #resume h1 {
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
        font-size: 300%;
        text-align: center;
      }
      #resume .contact {
        text-align: center;
      }
      #resume .citizenship {
        margin-top: 0.25rem;
        text-align: center;
        font-weight: bold;
      }
      #resume .underline {
        margin-top: 2px;
        margin-bottom: -0.5rem;
        border-bottom: 1px solid #000;
      }
      #resume h2 {
        font-variant: small-caps;
        font-size: 130%;
        margin-top: 1.5rem;
        margin-bottom: -0.25rem;
      }
      #resume .subsection {
        margin-left: 0.7em;
      }
      #resume h3 {
        font-weight: bold;
        font-size: 100%;
        margin-bottom: 0.1rem;
      }
      #resume h3, #resume .h3sub {
        display: inline-block;
      }
      #resume h3:after, #resume .h3sub:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
      }
      #resume .h3nolist {
        height: 0.5rem;
      }
      #resume h3, #resume .h3sub {
        display: block;
      }
      #resume h3 .title, #resume h3 .position,
      #resume .h3sub .employer, #resume .h3sub .institution {
        float: left;
      }
      #resume h3 .location, #resume .h3sub .date,
      #resume .awards .date {
        float: right;
      }
      #resume .h3spacing .h3sub {
        margin-bottom: 0;
      }
      #resume .h3spacing ul {
        margin-top: 0.2rem;
      }
      #resume .h3sub {
        font-weight: normal;
        font-style: italic;
        font-size: 100%;
        margin-top: 0;
        margin-bottom: -0.7rem;
      }
      #resume .publication {
        padding-left: 1.5em;
        text-indent: -1.5em;
      }
      #resume .publication .name {
        font-weight: bold;
      }
      #resume .publication .in {
        font-style: italic;
      }
    </style>
  </head>

  <body id="resume">
    <div id="container">
      <h1><%= contact["name"] %></h1>
<% site = contact["site"] %>
<% github = contact["github"] %>
<% email = contact["email"] %>
      <div class="contact">
        <span class="digital">
          <a href="https://<%= site %>"><%= site %></a>
          &bull;
          <a href="https://<%= github %>"><%= github %></a>
          &bull;
          <a href="mailto:<%= email %>"><%= email %></a>
        </span>
<% if contact["address"] && contact["cell"] %>
        <br>
        <span class="physical">
          <%= contact["address"] %>
          &bull;
          <%= contact["cell"] %>
        </span>
<% end #if %>
      </div><!-- div.contact -->
<% if contact["citizenship"] %>
      <div class="citizenship">
        <%= contact["citizenship"] %>
      </div><!-- div.citizenship -->
<% end #if %>
      <div class="underline"></div>

      <h2>Experience</h2>
      <div class="subsection">
<% work.each do |entry| %>
        <h3>
          <span class="title"><%= entry["title"] %></span>
          <span class="location"><%= entry["location"] %></span>
        </h3>
        <div class="h3sub">
          <span class="employer"><%= entry["employer"] %></span>
          <span class="date"><%= entry["date"] %></span>
        </div>
<% if entry["description"] %>
        <ul>
<% entry["description"].each do |item| %>
          <li>
            <%= item %>
          </li>
<% end #each %>
        </ul>
<% else %>
        <div class="h3nolist"></div>
<% end #if %>
<% end #each %>
      </div><!-- div.subsection -->
      <div class="pagebreak"></div>

      <h2>Publications</h2>
      <div class="subsection">
<% publications.each do |entry| %>
        <p class="publication">
          <%= entry["authors"] %> (<span class="date"><%= entry["date"] %></span>).
          <span class="title"><%= entry["title"] %></span>,
          <span class="in"><%= entry["in"] %></span>.
        </p>
<% end #each %>
      </div><!-- div.subsection -->

      <h2>Technical Skills</h2>
      <div class="subsection">
        <ul>
<% skills.each do |entry| %>
          <li>
            <%= entry %>
          </li>
<% end #each %>
        </ul>
      </div><!-- div.subsection -->

      <h2>Education</h2>
      <div class="subsection h3spacing">
<% education.each do |entry| %>
        <h3>
          <span class="level"><%= entry["level"] %></span>
          <span class="location"><%= entry["location"] %></span>
        </h3>
        <div class="h3sub">
          <span class="institution"><%= entry["institution"] %></span>
          <span class="date"><%= entry["date"] %></span>
        </div>
<% if entry["notes"] %>
        <ul>
<% entry["notes"].each do |item| %>
          <li>
            <%= item %>
          </li>
<% end #each %>
        </ul>
<% end #if %>
<% end #each %>
      </div><!-- div.subsection -->
    </div><!-- div.container -->
  </body>
</html>
