<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      <%= contact["name"] %>
    </title>
    <style type="text/css" media="all">
      /* print styles override */
      @media print {
        li {
          page-break-after: avoid;
          page-break-before: avoid;
        }
        .pagebreak {
          page-break-before: always;
        }
        a, a:link, a:visited {
          color: #000 !important;
        }
        #resume {
          font-size: 80% !important;
        }
        #resume .contact {
          font-size: 100% !important;
        }
      }
      /* end print styles override */
      :focus {
        outline: 0;
      }
      #resume {
        font-family: "Linux Libertine", "Times New Roman", serif;
        color: #000;
        background: #fff;
        line-height: 1;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 30px;
      }
      #resume a {
        color: rgb(46,79,166);
        text-decoration: none;
      }
      #resume a:hover {
        color: rgb(86,119,206);
      }
      #resume #container {
        margin-left: auto;
        margin-right: auto;
        width: 680px;
      }
      #resume h1 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 220%;
      }
      #resume .contact {
        font-size: 80%;
        border-bottom: 1px solid #000;
      }
        #resume .contact .address {
          padding-left: 62px;
        }
        #resume .contact .cell {
          float: right;
        }
      #resume h2 {
        font-variant: small-caps;
        font-size: 130%;
        margin-top: 25px;
        margin-bottom: -5px;
      }
      #resume .subsection {
        margin-left: 30px;
      }
      #resume h3 {
        font-weight: bold;
        font-size: 100%;
        margin-bottom: 2px;
      }
      #resume h3, #resume .h3sub {
        display: inline-block;
      }
      #resume h3:after, #resume .h3sub:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
      }
      #resume h3, #resume .h3sub {
        display: block;
      }
      #resume h3 .title, #resume h3 .position,
      #resume .h3sub .employer, #resume .h3sub .institution {
        float: left;
      }
      #resume h3 .location, #resume .h3sub .date,
      #resume .awards .date {
        float: right;
      }
      #resume .h3spacing .h3sub {
        margin-bottom: 0;
      }
      #resume .h3spacing ul {
        margin-top: 5px;
      }
      #resume .h3sub {
        font-weight: normal;
        font-style: italic;
        font-size: 100%;
        margin-top: 0;
        margin-bottom: -10px;
      }
      #resume li .date, #resume li .title {
        font-style: italic;
      }
      #resume li .in {
        font-weight: bold;
      }
    </style>
  </head>

  <body id="resume">
    <div id="container">
      <h1><%= contact["name"] %></h1>
<% github = contact["github"] %>
<% email = contact["email"] %>
<% site = contact["site"] %>
      <div class="contact">
        <span class="digital">
          <a href="http://<%= github %>"><%= github %></a>
          &bull;
          <a href="mailto:<%= email %>"><%= email %></a>
          &bull;
          <a href="http://<%= site %>"><%= site %></a>
        </span>
<% if contact["address"] && contact["cell"] %>
        <span class="address">
          <%= contact["address"] %>
        </span>
        <span class="cell">
          <%= contact["cell"] %>
        </span>
<% end #if %>
      </div><!-- div.contact -->

      <h2>Research Experience</h2>
      <div class="subsection">
<% research.each do |entry| %>
        <h3>
          <span class="position"><%= entry["position"] %></span>
          <span class="location"><%= entry["location"] %></span>
        </h3>
        <div class="h3sub">
          <span class="institution"><%= entry["institution"] %></span>
          <span class="date"><%= entry["start"] %> &ndash; <%= entry["end"] %></span>
        </div>
<% if entry["description"] %>
        <ul>
<% entry["description"].each do |item| %>
          <li>
            <%= item %>
          </li>
<% end #each %>
        </ul>
<% end #if %>
<% end #each %>
      </div><!-- div.subsection -->

      <h2>Work Experience</h2>
      <div class="subsection">
<% work.each do |entry| %>
        <h3>
          <span class="title"><%= entry["title"] %></span>
          <span class="location"><%= entry["location"] %></span>
        </h3>
        <div class="h3sub">
          <span class="employer"><%= entry["employer"] %></span>
          <span class="date"><%= entry["start"] %> &ndash; <%= entry["end"] %></span>
        </div>
<% if entry["description"] %>
        <ul>
<% entry["description"].each do |item| %>
          <li>
            <%= item %>
          </li>
<% end #each %>
        </ul>
<% end #if %>
<% end #each %>
      </div><!-- div.subsection -->

      <div class="pagebreak"></div>

      <h2>Publications</h2>
      <div class="subsection">
        <ul>
<% publications.each do |entry| %>
<% authors = entry["authors"] %>
<% title = entry["title"] %>
<% published_in = entry["in"] %>
<% location = entry["location"] %>
<% date = entry["date"] %>
          <li>
            <%= authors %>,
            <span class="title"><%= title %></span>,
            <span class="in"><%= published_in %></span>,
            <%= location %>,
            <%= date %>
          </li>
<% end #each %>
        </ul>
      </div><!-- div.subsection -->

      <h2>Projects</h2>
      <div class="subsection">
        <ul>
<% projects.each do |entry| %>
          <li>
            <%= entry %>
          </li>
<% end #each %>
        </ul>
      </div><!-- div.subsection -->

      <h2>Technical Skills</h2>
      <div class="subsection">
        <ul>
<% skills.each do |entry| %>
          <li>
            <%= entry %>
          </li>
<% end #each %>
        </ul>
      </div><!-- div.subsection -->

      <h2>Activities</h2>
      <div class="subsection">
        <ul>
<% activities.each do |entry |%>
          <li>
            <%= entry %>
          </li>
<% end #each %>
        </ul>
      </div><!-- div.subsection -->

      <h2>Awards</h2>
      <div class="subsection awards">
        <ul>
<% awards.each do |entry| %>
          <li>
            <%= entry["name"] %>
            <span class="date"><%= entry["date"] %></span>
          </li>
<% end #each %>
        </ul>
      </div><!-- div.subsection -->

      <h2>Education</h2>
      <div class="subsection h3spacing">
<% education.each do |entry| %>
        <h3>
          <span class="level"><%= entry["level"] %></span>
          <span class="location"><%= entry["location"] %></span>
        </h3>
        <div class="h3sub">
          <span class="institution"><%= entry["institution"] %></span>
<% if entry["date"] %>
          <span class="date"><%= entry["date"] %></span>
<% else %>
  <span class="date"><%= entry["start"] %> &ndash; <%= entry["end"] %></span>
<% end #if %>
        </div>
<% if entry["note"] %>
        <ul>
          <li>
            <%= entry["note"] %>
          </li>
        </ul>
<% end #if %>
<% end #each %>
      </div><!-- div.subsection -->

    </div><!-- div.container -->
  </body>
</html>
